{% load static i18n %}
<nav class="w3-sidebar w3-collapse w3-light-grey w3-animate-left"
     style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()"
           class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
           title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img src="#" style="width:45%;" class="w3-round"><br><br>
        {% for page in flatpages %}
            <h4><b><a href="{% url 'tasks-explore' %}">To-Do app</a></b></h4>
        {% endfor %}
        <p class="w3-text-grey">Menu</p>
    </div>
    <div class="w3-bar-block">
        {#        <a href="{% url 'tasks-explore' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-home fa-fw w3-margin-right"></i>My Tasks</a>#}
        <a href="{% url 'tasks-explore' %}" onclick="w3_close()"
           class="w3-bar-item w3-button w3-padding {% if request.resolver_match.url_name == 'tasks-explore' %} w3-text-teal {% endif %}"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>Explore</a>
        {% if user.is_authenticated %}
            <a href="{% url 'user-tasks' user.get_username %}"
               onclick="w3_close()"
               class="w3-bar-item w3-button w3-padding {% if request.resolver_match.url_name == 'user-tasks' %} w3-text-teal {% endif %}"><i
                    class="fa fa-user fa-fw w3-margin-right"></i>My tasks</a>
            <a href="#" onclick="w3_close()"
               class="w3-bar-item w3-button w3-padding {% if request.resolver_match.url_name == 'archive' %} w3-text-teal {% endif %}"><i
                    class="fa fa-archive fa-fw w3-margin-right"></i>Archive</a>
        {% endif %}
        <a href="#" onclick="w3_close()"
           class="w3-bar-item w3-button w3-padding {% if request.resolver_match.url_name == 'contact' %} w3-text-teal {% endif %}"><i
                class="fa fa-envelope fa-fw w3-margin-right"></i>Contact &
            Support</a>
    </div>
</nav>