{% extends "task/base/base.html" %}
{% load humanize i18n %}

{% block title %}
    <title>{% trans 'Mini To-Do app - Home' %}</title>
{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% for task in tasks %}
                <div class="col-md-4">
                    <article class="content-section hm">
                        <img class="rounded-circle article-img"
                             src="{{ task.author.profile.image.url }}" alt="">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2"
                                   href="{% url 'user-tasks' task.author.username %}">{{ task.author }}</a>
                                <small class="text-muted">{{ task.date_created|date:"d F Y" }}</small>
                            </div>
                            <h2><a class="article-title"
                                   href="{% url 'task-detail' task.id %}">{{ task.title }}</a>
                            </h2>
                            <p class="article-content">
                                {% trans 'Description: ' %}{{ task.description }}
                            </p>
                            <p class="article-content">
                                {% trans 'Deadline: ' %}{{ task.deadline|naturaltime }}
                            </p>
                            <br>
                        </div>
                    </article>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
