{% extends "task/base/base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans 'Mini To-Do App - Permitted users' %}</title>
{% endblock %}

{% block content %}
    <h4 class="col-md-12 mb-3">{% trans 'Permitted Users' %}</h4>
    <article class="media content-section">
        <div class="media-body">
            {% if comment_allowed_users %}
                <h5> Comment Allowed Users: </h5>
                <ul>
                    {% for user in comment_allowed_users %}
                        <li>{{ user.username }}</li>
                        <a class="btn btn-outline-info btn-sm mt-1 mb-1"
                           href="{% url 'permitted-user-update' task_id user.id %}">{% trans 'Update User' %}</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1"
                           href="{% url 'permitted-user-delete' task_id user.id %}">{% trans 'Delete User' %}</a>
                    {% empty %}
                        <div class="col-md-12">
                            <article class="media content-section">
                                <div class="media-body">
                                    <h7>{% trans 'You did not permitted any user to comment on your task' %}</h7>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if read_only_users %}
                <h5> Read Only Users: </h5>
                <ul>
                    {% for user in read_only_users %}
                        <li>{{ user.username }}</li>
                        <a class="btn btn-outline-info btn-sm mt-1 mb-1"
                           href="{% url 'permitted-user-update' task_id user.id %}">{% trans 'Update User' %}</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1"
                           href="{% url 'permitted-user-delete' task_id user.id %}">{% trans 'Delete User' %}</a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </article>
{% endblock content %}
