{% extends "task/base/base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}
    <title> {% trans 'Mini To-Do App - ' %}{{ task.title|title }} </title>
{% endblock %}

{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">

                <article class="media content-section">
                    <div class="single-post col-md-12">
                        <!-- Task Content -->
                        <div class="post-content">
                            <div class="post-eta d-flex">
                                <!-- Post Title -->
                                <div class="col">
                                    <h2 class="post-headline">{{ task.title }}</h2>
                                </div>
                                <div class="col">
                                    <div class="post-author-date-area d-flex float-right">

                                        <!-- Task Date -->
                                        <div class="post-date">
                                            <small class="text-muted">{{ task.date_created|date:"F d, Y" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <img class="rounded img-responsive"
                                 src="{{ task.photo.url }}" alt="">
                        </div>
                        <h6 class="text-justify">{% blocktrans %}Owner:{{ task.author }}{% endblocktrans %}</h6>
                        <h6 class="text-justify">{% blocktrans %}Deadline:{{ task.deadline }}{% endblocktrans %}</h6>
                        <h6 class="text-justify">{% blocktrans %}Description:{{ task.description }}{% endblocktrans %}</h6>
                        {% if task.author == user %}
                            <div>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                   href="{% url 'task-update' object.id %}">{% trans 'Update Task' %}</a>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                   href="{% url 'permitted-users' object.id %}">{% trans 'Show permitted users' %}</a>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                   href="{% url 'permitted-user-add' object.id %}">{% trans 'Add a permitted user' %}</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1"
                                   href="{% url 'task-delete' object.id %}">{% trans 'Delete Task' %}</a>
                            </div>
                        {% endif %}
                    </div>
                </article>
                <hr>


                <!-- comment section -->
                <div class="comment_area section_padding_50 clearfix">
                    <h4 class="mb-30">{% trans 'Comments' %}</h4>
                    <ol>
                        <!-- Single Comment Area -->
                        {% for comment in comments %}
                            {% if comment.task.id == task.id %}
                                <li class="single_comment_area">
                                    <div class="comment-wrapper d-flex">
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <span class="comment-date text-muted"></span>
                                            <div class="comment-content">
                                                <span class="comment-date text-muted">{{ comment.comment_date|date:"F d, Y" }}</span>
                                                <h5>{{ comment.username }}</h5>
                                                <p>{{ comment.comment_content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% empty %}
                            <p>{% trans 'No comment yet' %}</p>
                        {% endfor %}
                    </ol>
                    <br>
                    <hr>
                    <div class="comment-form">
                        <h4 class="mb-30">{% trans 'Leave a comment' %}</h4>
                        <form method="POST">{% csrf_token %}
                            <fieldset>
                                {{ commentform|crispy }}
                            </fieldset>
                            <button type="submit"
                                    class="btn btn-secondary contact-btn"
                                    style="cursor: pointer">{% trans 'Submit' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
