{% extends "task/base.html" %}
{% block content %}
    <h1 class="col-md-12 mb-3">Your task(s) - {{ view.kwargs.username }}</h1>
    {% for task in tasks %}
    <div class="col-md-6">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ task.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-tasks' task.author.username %}">{{ task.author }}</a>
              <small class="text-muted">{{ task.date_created|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'task-detail' task.id %}">{{ task.title }}</a></h2>
            <p class="article-content">{{ task.description }}</p>
          </div>
        </article><hr>
      </div>
      <div class="col-md-6">
      </div>
    {% endfor %}
{% endblock content %}
