acme==0.37.1
altgraph==0.16.1
amqp==2.3.2
argh==0.26.2
asn1crypto==0.24.0
Babel==2.7.0
bcrypt==3.1.7
beautifulsoup4==4.8.0
billiard==3.5.0.4
boto3==1.9.238
botocore==1.12.238
celery==4.2.0
certbot==0.37.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
ConfigArgParse==0.14.0
configobj==5.0.6
cryptography==2.7
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.2.5
django-appconf==1.0.3
django-betterforms==1.2
django-bootstrap-breadcrumbs==0.9.1
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-ckeditor==5.4.0
django-cleanup==2.1.0
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-js-asset==1.1.0
django-phonenumber-field==3.0.1
django-querysetsequence==0.11
django-storages==1.7.1
django-tempus-dominus==5.1.2.6.post1
django-widget-tweaks==1.4.2
docutils==0.14
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.20
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
josepy==1.2.0
kombu==4.2.1
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==7.2.0
numpy==1.17.0
oauthlib==2.1.0
pandas==0.25.0
parsedatetime==2.4
pathtools==0.1.2
pefile==2019.4.18
phonenumbers==8.10.19
Pillow==6.1.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
pycparser==2.19
PyInstaller==3.5
PyJWT==1.6.4
pyOpenSSL==19.0.0
pyRFC3339==1.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
pywin32==224
pywin32-ctypes==0.2.0
PyYAML==5.1.2
redis==2.10.6
requests==2.22.0
requests-oauthlib==1.0.0
requests-toolbelt==0.9.1
s3transfer==0.2.1
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
TA-Lib==0.4.17
Unidecode==1.0.23
urllib3==1.25.3
vine==1.1.4
virtualenv==16.7.2
watchdog==0.9.0
Werkzeug==0.16.0
whitenoise==4.1.3
zipp==0.6.0
zope.component==4.5
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.2
