{% extends "task/base/base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}
    <title>{% trans 'Mini To-Do App - Edit permitted users' %}</title>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{% trans 'Edit permitted users' %}</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"
                            style="cursor: pointer">{% trans 'Update' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
