{% load custom_tags i18n %}
{% get_menu_items as menus %}
{% get_contact_items as contact %}
{% get_settings as settings %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>{% trans 'Mini To-Do App' %}</h3>
                    <p>
                        {% for item in contact %}
                            {% if item.type == 'Address' %}
                                {{ item.content|safe }}
                            {% endif %}
                        {% endfor %}
                        <br><br>
                        {% for item in contact %}
                            {% if item.type == 'Phone' %}
                                <strong>{% trans 'Phone:' %}</strong>
                                {{ item.content|safe }}<br>
                            {% elif item.type == 'Email' %}
                                <strong>{% trans 'Email:' %}</strong>
                                {{ item.content|safe }}<br>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>{% trans 'Useful Links' %}</h4>
                    <ul>
                        {% for item in menus %}
                            {% if item.position == '4' %}
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="{{ item.url }}">{{ item.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{% trans 'Menu' %}</h4>
                    <ul>
                        {% for item in menus %}
                            {% if item.position == '2' or item.position == '3' %}
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="{{ item.url }}">{{ item.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                {% blocktrans %}
                    &copy; Copyright
                    <strong><span>Mini To-Do App</span></strong>. All Rights
                    Reserved
                {% endblocktrans %}
            </div>
            <div class="credits">
                {% trans 'Designed by' %} <a href="https://bootstrapmade.com/">BootstrapMade.</a>
                {% trans 'Developed by' %} <a
                    href="{{ settings.copyright_link }}">Bakir Yunusov</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            {% for account in settings.social_accounts_set.all %}
                <a href="{{ account.url }}" class="{{ account.a_tag_class }}"><i
                        class="{{ account.i_tag_class }}"></i></a>
            {% endfor %}
        </div>
    </div>
</footer>