{% load i18n custom_tags %}
{% get_menu_items as menus %}
{% get_current_language as language_code %}
{% get_available_languages as languages %}

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a
                href="{% url 'index' %}">{% trans 'Mini To-Do App' %}</a></h1>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                {% for menu in menus %}
                    {% if menu.position == '1' or menu.position == '3' %}
                        <li>
                            <a href="{{ menu.url }}">{{ menu.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">{% trans 'Login' %}</a>
                    </li>
                {% endif %}
                    <li class="drop-down"><a href="">{{ language_code }}</a>
                        <ul>
                            {% for lang_code, lang_name in languages %}
                            <li><a href="/{{ lang_code }}{{ request.get_full_path|slice:"3:" }}">{{ lang_code }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
        </nav>

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="get-started-btn">{% trans 'Logout' %}</a>
        {% else %}
            <a href="{% url 'register' %}" class="get-started-btn">{% trans 'Get Started' %}</a>
        {% endif %}

    </div>
</header>