{% load i18n %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="{% url 'index' %}">Mini To-Do App</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'tasks-explore' %}">{% trans 'Explore Tasks' %}</a></li>
                <li class="drop-down"><a href="">{% trans 'About' %}</a>
                    <ul>
                        <li><a href="#">{% trans 'About App' %}</a></li>
                        <li><a href="#">{% trans 'About Me' %}</a></li>
                    </ul>
                </li>
                <li><a href="#contact">{% trans 'Contact' %}</a></li>

            </ul>
        </nav>

        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="get-started-btn">{% trans 'Profile' %}</a>
        <a href="{% url 'logout' %}" class="get-started-btn">{% trans 'Logout' %}</a>
        {% else %}
        <a href="{% url 'login' %}" class="get-started-btn">{% trans 'Login' %}</a>
        <a href="{% url 'register' %}" class="get-started-btn">{% trans 'Get Started' %}</a>
        {% endif %}

    </div>
</header>