{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title %}{% endblock %}

  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'todo_app/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'todo_app/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'todo_app/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'todo_app/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'todo_app/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'todo_app/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'todo_app/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'todo_app/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'todo_app/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'todo_app/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>
    {% include 'base/header.html' %}

    {% block content %}{% endblock %}

    {% if request.resolver_match.url_name != 'password-reset-done' %}
        {% include 'base/footer.html' %}
    {% endif %}

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'todo_app/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'todo_app/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'todo_app/assets/js/main.js' %}"></script>

  {% block additional_js %}{% endblock %}
</body>

</html>