{% extends 'base/index.html' %}
{% load i18n %}

{% block content %}
<section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{{ object.photo_detail_page.url }}" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>{% trans 'Project information' %}</h3>
            <ul>
              <li><strong>{% trans 'Project date: ' %}</strong>{{ object.date }}</li>
              <li><strong>{% trans 'Project URL' %}</strong>: <a href="{{ object.url }}">{{ object.url }}</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>{% trans 'This is an example of portfolio detail' %}</h2>
          <p>
              {{ object.description|safe }}
          </p>
        </div>

      </div>
    </section>
{% endblock %}
