{% extends "base/index.html" %}

{% block content %}

{% load i18n %}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up"
         data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Password Reset</h1>
                {% trans 'Email has been sent with instructions to reset your password' %}
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'index' %}" class="btn-get-started">{% trans 'Home' %}</a>
        </div>
    </div>
</section>

{% endblock %}