{% extends "base/index.html" %}
{% load i18n %}

{% block title %}
    <title> {% trans 'Mini To-Do App - Password Reset Successful' %} </title>
{% endblock %}

{% block content %}

{% load i18n %}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up"
         data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Password Reset</h1>
                {% trans 'Your password has been reset' %}
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'login' %}" class="btn-get-started">{% trans 'Login' %}</a>
        </div>
    </div>
</section>

{% endblock %}